@import '../../../../../../modules/cc template/colors.scss';
// import all bootstrap

@import '../../../../../../modules/bootstrap/scss/bootstrap.scss';


/* Footer */
.footer-social-icons .social-icons > ul {
    flex-direction: row;	}
    .footer-social-icons .social-icons .fa-youtube:hover {
      color: $clr-youtube; }
    .footer-social-icons .social-icons .fa-facebook:hover {
      color: $clr-facebook; }
    .footer-social-icons .social-icons .fa-twitter:hover {
      color: $clr-twitter; }
    .social-icons {
      align-items: center;
      justify-content: center;
      margin: 1rem; }
      .social-icons > li {
        display: inline-block; }
      .social-icons li + li a {
        margin-left: 26px; }
    .address-data {
      padding-left: 3rem;
      width: 100%;
      display: inline-block; }